<div class="container">
  <h1><%= @cocktail.name %></h1>

  <%= link_to "Make a new dose", new_cocktail_dose_path(@cocktail) %>
  <ul>
    <% @cocktail.doses.each do |dose| %>
      <li>
        <%= link_to "-X-", dose_path(dose), method: :delete, data: { confirm: "Are you sure you want to delete this dose?" } %>
        <%= dose.description %>
        -
        <%= dose.ingredient.name %>
      </li>
    <% end %>
  </ul>
</div>